#hourArrow {
    transform-origin: 50% 50%;
}
#minuteArrow {
    transform-origin: 50% 50%;
}
#secondArrow {
    transform-origin: 50% 50%;
}
#timer {
    font-size: 35px;
    font-family: "Gill Sans", sans-serif;
}
