@media all and (max-width: 700px){
    .leftcol{
        float: none;
        display: block;
        width: 100%;
      
    }
    .rightcol{
        float: none;
        display: block;
    width: 100%;
    }
}
