/* Reset CSS by Eric Meyer http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.wheel {
  margin-top: 10px;
  -webkit-animation: rotate 10s infinite;
  animation: rotate 10s infinite; }

body {
  font-family: "Esteban", serif;
  text-align: center; }
  body a {
    color: white;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
    body a:active {
      color: #e8c300;
      text-decoration: underline; }

h1 {
  color: #e8c300;
  font-size: 76px;
  font-family: "Marck Script", cursive; }

h2 {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 5px; }

h3 {
  font-family: "Esteban", serif;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase; }

.buttonShell #body_button {
  height: 240px;
  margin: 0;
  padding: 0;
  color: #e8c300;
  text-align: center;
  padding-top: 9vh; }

.buttonShell .button_hola,
.buttonShell .button_hola::before,
.buttonShell .button_hola::after,
.buttonShell .button_hola span,
.buttonShell .button_hola span::before,
.buttonShell .button_hola span::after {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }

.buttonShell .button_hola {
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer; }

.buttonShell .button_hola:hover {
  -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.5);
  box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.5); }

.buttonShell .button_hola span {
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em; }

.buttonShell .button_hola:hover span {
  background-color: #fff;
  color: #112; }

.buttonShell .button_hola::before,
.buttonShell .button_hola::after,
.buttonShell .button_hola span::before,
.buttonShell .button_hola span::after {
  content: "";
  position: absolute;
  border: 1px; }

.buttonShell .button_hola::before,
.buttonShell .button_hola span::before {
  border-style: solid none; }

.buttonShell .button_hola::before,
.buttonShell .button_hola span::after {
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em); }

.buttonShell .button_hola::after,
.buttonShell .button_hola span::after {
  border-style: none solid; }

.buttonShell .button_hola::after,
.buttonShell .button_hola span::before {
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); }

.buttonShell .button_hola:hover::after,
.buttonShell .button_hola:hover span::after {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0); }

.buttonShell .button_hola:hover::before,
.buttonShell .button_hola:hover span::before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

.buttonShell .button_hola:hover span::after,
.buttonShell .button_hola:hover span::before {
  opacity: 0; }

.buttonShell2 .double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.buttonShell2 .double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.buttonShell2 .double-border-button:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 10px);
  height: calc(100% + 10px); }

.firstBlock {
  height: 800px;
  background: url("../img/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .firstBlock .firstBlockFirstSection {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .firstBlock .firstBlockSecondSection {
    padding-top: 30px;
    padding-bottom: 30px; }
    .firstBlock .firstBlockSecondSection h1 {
      margin-bottom: 20px; }
    .firstBlock .firstBlockSecondSection h2 {
      color: white;
      font-family: "Esteban", serif;
      font-size: 56px; }
    .firstBlock .firstBlockSecondSection p {
      color: white;
      margin-bottom: 10px; }
    .firstBlock .firstBlockSecondSection .links a {
      margin-top: 5px;
      margin-bottom: 5px; }
      .firstBlock .firstBlockSecondSection .links a:hover {
        text-decoration: none; }

.secondBlock {
  height: 540px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .secondBlock .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .secondBlock .container h2 {
      font-family: Banny;
      font-size: 36px;
      line-height: 48px;
      /* or 133% */
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 5px; }
      .secondBlock .container h2 span {
        font-family: "Marck Script", cursive;
        color: #e8c300;
        text-transform: capitalize;
        font-size: 75px;
        margin-right: 2px; }
    .secondBlock .container p {
      font-size: 18px;
      font-family: Open Sans;
      font-style: normal;
      text-align: center; }
      .secondBlock .container p span {
        margin-bottom: 10px; }
    .secondBlock .container .secondBlockLeft {
      width: 40%; }
    .secondBlock .container .secondBlockright {
      width: 40%;
      position: relative; }
      .secondBlock .container .secondBlockright .picSquare {
        width: 75%;
        position: absolute;
        top: 55%;
        right: 55%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .secondBlock .container .secondBlockright .picFire {
        width: 100%;
        margin-top: 50px;
        -webkit-filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
        border-radius: 5px; }

.thirdBlock {
  margin-top: 10px;
  margin-bottom: 10px;
  background: url("../img/3rd_block_bg.png");
  background-position: center; }
  .thirdBlock .thirdBlockSecondSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .thirdBlock .thirdBlockSecondSection .thirdBlockRightBar {
      width: 40%;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
      .thirdBlock .thirdBlockSecondSection .thirdBlockRightBar h2 {
        font-family: Banny;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        margin-bottom: 5px; }
      .thirdBlock .thirdBlockSecondSection .thirdBlockRightBar p {
        color: white;
        font-size: 18px;
        font-family: Open Sans;
        font-style: normal;
        text-align: center; }
    .thirdBlock .thirdBlockSecondSection .thirdBlockLeftBar {
      position: relative;
      width: 40%; }
      .thirdBlock .thirdBlockSecondSection .thirdBlockLeftBar img {
        width: 100%; }
      .thirdBlock .thirdBlockSecondSection .thirdBlockLeftBar .picSquareThirdBlock {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .thirdBlock .thirdBlockFirstSection {
    text-align: center; }
    .thirdBlock .thirdBlockFirstSection h2 {
      font-size: 56px;
      padding-top: 20px;
      color: #e8c300;
      font-family: "Marck Script", cursive;
      font-style: 75px; }

.forthBlock {
  height: 670px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .forthBlock .container .forthBlockFirstSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .forthBlock .container .forthBlockFirstSection .forthBlockFirstSectionLeftBar {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      height: 351px; }
      .forthBlock .container .forthBlockFirstSection .forthBlockFirstSectionLeftBar .formStyle {
        margin: 2px;
        background: #e5e5e5;
        border-radius: 5px;
        width: 277px;
        height: 60px;
        border: none;
        padding: 10px;
        margin-bottom: 5px; }
    .forthBlock .container .forthBlockFirstSection button {
      background: #e8c300;
      border-radius: 5px;
      width: 566px;
      height: 60px;
      border: none; }
    .forthBlock .container .forthBlockFirstSection p {
      font-size: 18px;
      text-align: center;
      margin-top: 10px; }

.wrapper {
  height: 70vh;
  margin-bottom: 20px; }
  .wrapper .parallaxImg {
    background: url("../img/food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    height: 100%; }

.sixthBlock {
  height: 500px;
  margin-top: 100px;
  margin-bottom: 40px; }
  .sixthBlock h2 {
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px; }
    .sixthBlock h2 span {
      font-family: "Marck Script", cursive;
      color: #e8c300;
      text-transform: capitalize;
      font-size: 75px;
      margin-right: 2px; }
  .sixthBlock ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .sixthBlock ul li {
      width: 250px;
      height: 250px; }
      .sixthBlock ul li h3 {
        font-family: "Montserrat", sans-serif;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600; }
      .sixthBlock ul li img {
        width: 100%; }
      .sixthBlock ul li p {
        margin-top: 5px;
        font-family: "Montserrat", sans-serif; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 300px;
  font-family: "Esteban", serif;
  color: white;
  background: #333; }
  .footer .copyright {
    margin-top: 40px;
    text-align: center; }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer ul .refFooter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer ul .refFooter h2 {
        color: white;
        text-transform: uppercase; }
      .footer ul .refFooter h3 {
        font-size: 18px;
        margin-bottom: 45px; }
      .footer ul .refFooter ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .footer ul .refFooter ul li {
          margin-bottom: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; }
          .footer ul .refFooter ul li p {
            margin-left: 10px; }
