.flex_container{
    display: flex;
    background: url(img/ball.png) right top repeat-y;
}

.header{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: blue;
    background: #a6e0ff;

}

.footer{
    font-size: 30px;
    font-weight: 700;
    color: blue;
    text-align: center;
    background: #a6e0ff;
}
.menu{
width: 20%;
background: url(img/menu_200px.png) left top repeat-y;
padding-right: 20px;

}

.marcello{

    float: left;
}



