@import "Reset.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}
// Variables
$FSBig: 56px;
$FSMiddle: 36px;
$FSSmall: 18px;
$FontPretty: "Marck Script", cursive;
$FontAfisha: "Montserrat", sans-serif;
$FontStandart: "Esteban", serif;
$ColorGold: #e8c300;
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.wheel {
    margin-top: 10px;
    animation: rotate 10s infinite;
}
body {
    font-family: "Esteban", serif;
    text-align: center;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:active {
            color: $ColorGold;
            text-decoration: underline;
        }
    }
}
h1 {
    color: $ColorGold;
    font-size: $FSBig + 20px;
    font-family: $FontPretty;
}
h2 {
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 5px;
}
h3 {
    font-family: $FontStandart;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
// Первый блок
.firstBlock {
    height: 310px;
    background: url("../img/header-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .firstBlockFirstSection {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
    }
    .firstBlockSecondSection {
        padding-top: 30px;
        padding-bottom: 30px;
        h1 {
            margin-bottom: 20px;
        }
        h2 {
            color: white;
            font-family: $FontStandart;
            font-size: $FSBig;
        }
        p {
            color: white;
            margin-bottom: 10px;
        }
        .links {
            a {
                margin-top: 5px;
                margin-bottom: 5px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
// Второй блок контакты
.secondBlockContacts {
    background: url("../img/bg_contacts.png") repeat;
    padding: 30px+0px+30px+0px;
    .secondBlockContactsSection {
        #visitCard {
            width: 100%;
        }
    }
}

// Блок с меню
.sixthBlock {
    background: url("../img/bg_contacts.png") repeat;
    padding: 40px 0 40px 0;
    height: 100%;
    .sixthBlockTime {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
    .zebra {
        border-spacing: 0;
        empty-cells: hide;
    }
    td {
        padding: 10px 20px;
        text-align: center;
        border-bottom: 1px solid #f4eee8;
        transition: all 0.5s linear;
    }
    td:first-child {
        text-align: left;
        color: #3d3511;
        font-weight: bold;
    }
    th {
        padding: 10px 20px;
        color: #3d3511;
        border-bottom: 1px solid #f4eee8;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .round-top {
        border-top-left-radius: 5px;
    }
    .round-bottom {
        border-bottom-left-radius: 5px;
    }
    tr:hover td {
        background: #d1c7bf;
        font-weight: bold;
    }
}
#map {
    max-width: 100%;
    width: 1280px;
    height: 400px;
}
.container {
    h2 {
        font-family: Banny;
        font-size: 36px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 10px;
        span {
            margin-bottom: 10px;
            font-family: "Marck Script", cursive;
            color: #e8c300;
            text-transform: capitalize;
            font-size: 75px;
            margin-right: 2px;
        }
    }
}

// Блок меню
.menuBlockLeftBar {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .menuBar {
        flex-shrink: 1;
        margin-left: 5px;
        margin-right: 5px;
        & a {
            font-family: Banny;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            color: white;
            margin-bottom: 10px;
        }
    }
}
.menuBlock {
    text-align: center;
}
.menuBlockRightBar {
    padding: 16px;
    & li {
        margin-top: 10px;
        margin-bottom: 10px;
        .menuBlockRightBarImg {
            max-width: 100%;
            width: 700px;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .menuBlockRightBar {
    padding-top: 102px;
}
// Footer
.footer {
    display: flex;
    align-items: center;
    height: 300px;
    font-family: $FontStandart;
    color: white;
    background: #333;
    .copyright {
        margin-top: 40px;
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: space-around;
        .refFooter {
            h2 {
                color: white;
                text-transform: uppercase;
            }
            h3 {
                font-size: 18px;
                margin-bottom: 45px;
            }
            display: flex;
            flex-direction: column;
            ul {
                display: flex;
                flex-direction: column;
                li {
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    p {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
